/* Layout */
.dashboard-container {
  width: 100%;
  background: #fff;
}

/* Title */
.dashboard-title {
  font-size: 32px;
  font-weight: 300;
  color: #1a202c;
  margin-bottom: 10px;
  text-align: center;
}

.dashboard-desc {
  font-size: 15px;
  color: #555f6e;
  text-align: center;
}

/* Stepper */
.stepper-container {
  display: flex;
  margin-top: 20px;
  gap: 15px;
}

/* Step box */
.stepper-item {
  text-decoration: none;
  color: inherit;

  position: relative;
  flex: 1;
  height: 78px;
  background: #fff;
  border: 2px solid #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
}

/* Active */
.active-step {
  background: #f0fdf4;
  border-color: var(--ds-primary-color);
  z-index: 5;
}

/* Content */
.step-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.step-number {
  font-size: 34px;
  font-weight: 300;
}

.active-text {
  color: var(--ds-primary-color);
}

.inactive-text,
.icon-inactive {
  color: #585858;
}

.step-info h3 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.12em;
  margin: 0;
  text-transform: uppercase;
}

.step-info p {
  font-size: 14px;
  margin: 2px 0 0;

}

/* Icon */
.step-icon svg {
  width: 30px;
  height: 30px;
}

.icon-active {
  color: var(--ds-primary-color);
}

/* slider */